.container { 
    width: 75%;
    height: 400px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
    border-radius: 7px;
    display: block;
    position: relative;
    left: 15rem;
}

/* .container {
    background-color: green;

    border-top: 1px solid #e8e8e8;
	padding-top: 40px;
	margin-top: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 2rem;
    font: inherit;
    display: block;
    position: relative;
    left: 15rem;
	width: 75%;
} */

.left_block {

}

.right_block-img {
	width: 45%;
	position: relative;
	float: left;
	overflow: hidden;
}
.container img {
	width: 101%;
	display: block;
	-webkit-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
}
.container a:hover img {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	transform: scale(1.03);
}

.left_block {  
	width: 45%;
	float: left;
	padding-left: 40px;
}
.left_block h2 {
	padding: 15px 0 13px 0;
}
.left_block p {
	padding: 13px 0 0 0;
	color: #666;
	font-size: 14px;
	line-height: 22px;
}
